.List {
  display: flex;
  width: 100%;
  padding: 0.6rem;
  border: thin solid transparent;
  border-bottom-color: rgb(214, 214, 214);
  position: relative;
}

.TodoListWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.Todos {
  margin-right: auto;
}

.DeleteTodo {
  border: none;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
}

.DeleteTodo svg {
  color: red;
  font-size: 1.6rem;
}

.TodoEditForm.Disappear {
  display: none;
}

.UpdateFormInput {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  width: 99%;
  height: 70%;
  transform: translate(-50%, -50%);
}
